* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #233329, #41b883);
}

.grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
}

.grid-container > button {
    cursor: pointer;
    font-size: 1.8rem;
    border: none;
    outline: none;
    background-color: #111;
    color: #eee;
    transition: .5s;
}

.grid-container > button:hover {
    background-color: rgb(47, 83, 201);
    /* color: #111; */
}

.grid-container > .operator {
    background-color: #41b88375;
}

.span-two {
    grid-column: span 2;
}

.grid-container > .output {
    grid-column: 1 / -1;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 15px 15px 0px 0px;
}

.grid-container > .output > .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.3rem;
}

.grid-container > .output > .current-operand {
    color: white;
    font-size: 2.3rem;
}

#point {
    border-radius: 0px 0px 0px 15px;
}

#equals {
    border-radius: 0px 0px 15px;
}